body {
	height: 100vh;
	margin: 0;
	font-family: Urbanist;
	--dark-color: #393d3d;
	--spacing: 0.3em;
}

main {
	display: grid;
	height: 100%;
	width: 100%;
}

main {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3fr 1fr 3fr auto;
	grid-template-areas:
		'epTable epTable'
		'controls controls'
		'effectSelection effectDescription'
		'epLabel epLabel';
	gap: var(--spacing);
}

table {
	width: 100%;
}

table ep-radio-button::part(button) {
	border: 0;
}

ep-radio-button + ep-radio-button {
	&::part(button) {
		border-top: 0;
	}
}

table,
th,
td {
	border: 3px solid var(--dark-color);
	border-collapse: collapse;
}

th {
	background: var(--dark-color);
	color: white;
}

#controls {
	grid-area: controls;
}

#baseEPRadioGroup {
	grid-area: epTable;
}

#epTable {
	height: 100%;
	td button {
		width: 100%;
		height: 100%;
	}
	thead tr th {
		text-align: center;
	}
}

[role='group'] {
	margin: 0;
}

#epLabel {
	grid-area: epLabel;
	display: block;
	text-align: right;
	margin-right: 3em;
	margin-bottom: 1em;
}

#effectSelection {
	grid-area: effectSelection;
	display: grid;
	gap: var(--spacing);

	ep-radio-button-group {
		display: grid;
	}
}

#effectDescription {
	grid-area: effectDescription;
}
